.avatar {

  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 2rem;

  @media only screen and (max-width: 475px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-img {
    border-radius: 50%;
    height: 15rem;
    width: auto;
    margin: 0 1rem;
    border: #ea9c50 2px solid;

    @media only screen and (max-width: 810px) {
      height: 10rem;
      width: auto;
    }

    @media only screen and (max-width: 475px) {
      height: 6.5rem;
      width: 6.5rem;
    }
    
  }

  &-name {
    font-size: 1.5rem;
  }
}

.avatar:nth-child(2n+1) {
  flex-direction: row;
  text-align: left;

  @media only screen and (max-width: 475px) {
    flex-direction: column;
    text-align: center;
  }
}