@use './../../styles/vars';

.sidebar{
  background-color: white;
  width: 400px;
  height: calc(100vh - 79.89px);
  overflow-y: scroll;
  position: relative;
  
  transition: 0.4s ease;
  left: -400px;
}


#side::-webkit-scrollbar-thumb{
	background-color: rgba(234, 156, 80, 0.8)
}

#side::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}

#side::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.sidebar-active{
  background-color: white;
  width: 400px;
  height: calc(100vh - 79.89px);
  overflow-y: scroll;
  position: relative;
  left: 0px;
  transition: 0.4s ease;

  transition-timing-function: cubic-bezier(0,.17,.25,.99);
}

.close{
  width: 40px;
  transition: 0.3s;
  &:hover{
    transform: scale(1.1);
  }
}